backend/resources/ffmpeg.exe
/backend/temp
frontend/src/typescript.svg
/backend/boxart
/backend/previews
/backend/boxart
backend/game_meta.json
backend/game_meta.json
/backend/boxart
/backend/boxart
backend/settings.json
backend/settings.json
backend/settings.json
